// RESET

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Kumbh Sans", sans-serif;
}

img {
   display: block;
   // width: 100%;
   height: auto;
   object-fit: cover;
}


// GENERAL STYLE

html {
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings: "YOPQ" 300;
}

body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}