@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import './variables';
@import './main';

// my design

.wrapper {
   max-width: 350px;
   height: 375px;
   width: 90%;
   background-color: $DARK_CYAN;
   border-radius: 16px;
   overflow: hidden;
}
